@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    scroll-behavior: smooth;
    background-color: white;
    overflow-x: hidden;
    width: 99vw;
    min-height: 100vh;
  }